main {
    height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  form {
    height: 40%;
    width: 30%;
    border-radius: 0.5rem;
    padding: 0.75rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
  align-items: center;
  outline: none;
  border: 2px solid white;
  background: linear-gradient(to right ,rgb(96, 96, 96),rgb(255, 192, 76),rgb(245, 83, 110),rgb(96, 44, 44));
    input{
        height: 20%;
        width: 80%;
        padding-inline: 0.5rem;
        border-radius: 0.75rem;
        border: none;
        outline: none;
    }
    button{
      min-width: 40%;
      padding: 0.7rem 0.5rem;
      border-radius: 0.75rem;
      background-color: rgb(144, 255, 144);
      border: none;
      cursor: pointer;
    }
    button:active{
        scale: 0.95;
    }
  }
  
}
